/* _variables.scss */


/* COLORS
================================================== */

$colorPrimary:          #2a2a2a;
$colorPrimaryDark:      #1c1c1c;
$colorPrimaryLight:     adjust_hue(saturate(darken(#2a2a2a, 13), 21), 0);

$colorSecondary:        #eae9e9;
$colorSecondaryDark:    #363636;
$colorSecondaryLight:   #7c7c7c;

$colorTertiary:         #dddddd;
$colorTertiaryDark:     #cccccc;
$colorTertiaryLight:    #cccccc;

$colorTextDefault:      #433f3e;
$colorAnchorDefault:    #2f7499;




/* STYLE OPTIONS & TOGGLES
================================================== */
$transparency-header:     true;





/* FONTS
================================================== */
$default:       "opensans", Helvetica, Arial, sans-serif;
$default-alt:   "opensans-condensed", "Helvetica Neue";
$serif:         Georgia, serif;
$pictos:        "pictos";
$arrrows:       "arrrows";
$social:        "socialico";
$socialico:     "socialico";





/* SUSY BASE GRID & BASICS
================================================== */
$base-font-size     : 16px;
$base-line-height   : $base-font-size * 1.5;


// FIXED
// $total-columns      : 12              !default;
// $column-width       : 60px            !default;
// $gutter-width       : 20px            !default;
// $grid-padding       : 10px            !default;

// MAGIC
$total-columns      : 4               !default;
$column-width       : 4em             !default;
$gutter-width       : 1em             !default;
$grid-padding       : $gutter-width   !default;

// BREAKPOINTS
$mobile-portrait    : 4;
$mobile-landscape   : 6;
$tablet             : 8;
$desktop            : 12;


// GRID BG
$show-grid-backgrounds    : false;

// ADVANCED SETTINGS
$from-direction     : left            !default;
$omega-float        : opposite-position($from-direction)    !default;
$container-width    : 960px           !default;
$container-style    : fluid           !default;
// $border-box-sizing  : false           !default;

// IE SETTINGS
$breakpoint-media-output  : true      !default;
$breakpoint-ie-output     : true      !default;
// Danger Zone! Only set as 'true' in IE-specific style sheets.
$breakpoint-raw-output    : false     !default;