/* _variables.scss */


/* COLORS
================================================== */

$colorPrimary:          #2a2a2a;
$colorPrimaryLight:     adjust_hue(saturate(darken(#2a2a2a, 13), 21), 0);

$colorSecondary:        #fafafa;





/* STYLE OPTIONS & TOGGLES
================================================== */
$transparency-header:     true;





/* FONTS
================================================== */
$default:       Helvetica, Arial, sans-serif;
$serif:         Georgia, serif;
$pictos:        "pictos";
$arrrows:       "arrrows";
$social:        "socialico";
$socialico:     "socialico";





/* SUSY BASE GRID & BASICS
================================================== */
$base-font-size     : 16px;
$total-columns      : 12              !default;
$column-width       : 60px            !default;
$gutter-width       : 20px            !default;
$grid-padding       : 10px            !default;

// ADVANCED SETTINGS
$from-direction     : left            !default;
$omega-float        : opposite-position($from-direction)    !default;
$container-width    : 960px           !default;
$container-style    : magic           !default;
// $border-box-sizing  : false           !default;

// IE SETTINGS
$breakpoint-media-output  : true      !default;
$breakpoint-ie-output     : true      !default;
// Danger Zone! Only set as 'true' in IE-specific style sheets.
$breakpoint-raw-output    : false     !default;