/* _content-shared.scss */


/* #MAIN
================================================== */
#main {

  &.default {}
  &.blog    {}
}


  /* .content
  ================================================== */
  #content{
    @extend %span9;
        
    &.push-left {
      float:left;
      @include media(mobile) { float:right; }
      .content-inner {
        padding-left:2em;
        @include media(mobile) { padding-left:0; }
      }

    }
    &.push-right {
      float:right;
      .content-inner {
        padding-right:2em;
        @include media(mobile) { padding-right:0; }
      }
    }
  }

    /* ARTICLE
    ================================================== */
    article {

    }




  /* SIDEBAR
  ================================================== */
  #main .sidebar{
    @extend %span3;
    @extend %omega;

    a {
      &:hover {text-decoration:underline;}
    }

    &.push-left {
      float:left;
      @include media(mobile) { float:right; }
      .sidebar-inner {
        padding-right:2em;text-align:right;
        @include media(mobile) { padding-right:0; text-align:left; }
      }
    }
    &.push-right {
      float:right;
      .sidebar-inner {
        padding-left:2em;
        @include media(mobile) { padding-left:0; }
      }
    }

    .sidebar-inner {
      
    }

    // COLLAPSABLE
    &.collapsable {
      
    }
  }




  /* PAGINATION
  ================================================== */
  nav.pagination {
    margin-top:30px;
    width:100%;
    text-align:center;

    .pagination-wrap {
      display: -moz-inline-stack;display: inline-block;zoom: 1;*display: inline;
    }
    .pagination-nav {
      font-family:"arrrows";
      font-size:em(20px);
      line-height:1;

      &.prev {}
      &.next {}
    }
  }
  


/* SECTIONS
================================================== */
.section-title {
  position:relative;
  width:100%;
  text-align:center;
  padding-bottom:40px;
  margin-bottom:30px;
  margin-top:50px;

  &:after {
    content:'';
    display:block;
    position:absolute;bottom:20px;left:50%;
    margin:-1px 0 0 -60px;
    width:120px;height:2px;
    background-color:#353535;
  }
}
  .section-full-thirds {height:390px;}