/* _header.scss */


/* HEADER.default
================================================== */
$height-header_default:   88;
header.default {
  width:100%;
  // height:#{$height-header_default}px;
  // line-height:#{$height-header_default}px;
  // @include clearfix;

  @if $transparency-header == true {
    background-color:transparent;
  } @else {
    background-color:#ffffff;
  }

  /* LOGO
  ================================================== */
  .logo {
    @include inline-block;
    line-height:#{$height-header_default}px;

    h1,h2,h3,p,span {margin:0;}

    a     {}
    img   {max-height:100%;width:auto;}
  }

  /* NAV
  ================================================== */
  nav {
    text-align:right;
    line-height:#{$height-header_default}px;

    ul {
      @if $transparency-header == true {
        background-color:transparent;
      } @else {
        background-color:#ffffff;
      }
    }
    
    > ul {
      height:88px;
      float:right;
    }

    > ul > li {
      height:#{$height-header_default}px;
      // line-height:#{$height-header_default}px;
      text-transform: uppercase;
      letter-spacing:1px;

      &:last-child a {padding-right:0;}

      > a {
        display:block;
        width:100%;height:100%;
        line-height:88px;
        padding-right:em(24px);
        padding-left:em(4px);
      }
    }

  }
}