/* _header.scss */


/* HEADER.default
================================================== */
$height-header_default:   88;
header.default {
  width:100%;
  // height:#{$height-header_default}px;
  line-height:#{$height-header_default}px;
  @include clearfix;

  @if $transparency-header == true {
    background-color:transparent;
  } @else {
    background-color:#ffffff;
  }

  /* LOGO
  ================================================== */
  .logo {
    @extend %inline-block;

    a     {}
    img   {}
  }

  /* NAV
  ================================================== */
  nav {
    line-height:#{$height-header_default}px;
    text-align:right;

    ul {
      @extend %inline-block;
      @extend %ul-blank;
      line-height:#{$height-header_default}px;

      li {
        text-transform: uppercase;
        @extend %inline-block;
        margin-right:1.5em;
        // font-family:$default-alt;
        // font-weight:300;
        letter-spacing:1px;

        &:last-child {margin-right:0;}
      }

      li a {
        color:$colorTextDefault;

        &:hover {color:$colorAnchorDefault;}
      }
    } 
  }

}