/* _staff.scss */


/* SECTION#STAFF
================================================== */

// .box-third/fourth/etc depending on section_width set in ACF
.staff-photo {
  position:relative;
  padding-right:5px;
  padding-bottom:5px;

  .staff-overlay {
    position:absolute;top:0;left:0;
    width:100%;height:100%;
    /* TRANSITION */
    visibility:hidden;
    background-color:transparent;
    @include transition(all 150ms ease-in-out);

    &:hover {
      visibility:visible;
      @include transparent-bg(#4a4a4a, 0.45);  
    }
  }

  // inherits .bg-cover
  .staff-photo-thumb {
    position:relative;
    width:100%;height:100%;
  }

}