/* _staff.scss */


/* SECTION#STAFF
================================================== */

// .box-third/fourth/etc depending on section_width set in ACF
.staff-photo {
  position:relative;

  .staff-overlay {
    position:absolute;top:0;left:0;
    width:100%;height:100%;
  }

  // inherits .bg-cover
  .staff-photo-thumb {
    position:absolute;top:0;left:0;
    width:100%;height:100%;
  }

}