/* _body.scss */

* { box-sizing: border-box; }


.content{
  width:70%;
  float:left;
  padding-right:30px;
}

.sidebar{
  width:30%;
  float:right;
}


.menu-menu-1-container{
  float:right;
}

.menu-menu-1-container ul{
  display: inline;
}

.menu-menu-1-container ul li{
  display: inline;
  margin-left: 30px;
}

.post{
  padding-bottom:10px;
  border-bottom: 1px solid #d3d3d3;
}