/* _fonts.scss */

@mixin fff($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
         url('#{$file-path}.woff')                     format('woff'),
         url('#{$file-path}.ttf')                      format('truetype'),
         url('#{$file-path}.svg##{$font-family}')      format('svg');
  
  }
}

/* FONTS
================================================== */
@include fff(opensans, '../fonts/opensans/OpenSans-Regular', normal);
@include fff(opensans, '../fonts/opensans/OpenSans-Bold', bold);
@include fff(opensans, '../fonts/opensans/OpenSans-ExtraBold', 900);
@include fff(opensans, '../fonts/opensans/OpenSans-Light', 300);
// @include fff(opensans, '../fonts/opensans/OpenSans-Italic', italic);

@include fff(opensans-condensed, '../fonts/opensans-condensed/OpenSans-CondLight', 300);

// Pictos
@include fff(pictos, '../fonts/pictos/pictos', normal);
// Font Awesome
@include fff(fontawesome, '../fonts/fontawesome/fontawesome-webfont', normal);
// Arrrrows
@include fff(arrrows, '../fonts/arrrows/arrrows', 300);
@include fff(arrrows, '../fonts/arrrows/arrrows-bold', bold);
// Socialico
@include fff(socialico, '../fonts/socialico/socialico', normal);


/* Chrome v33 "invisible text" fix
================================================== */
body {
-webkit-animation-duration: 0.1s;
-webkit-animation-name: fontfix;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: linear;
-webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}